div,p,table,form,input,tr,td,th,dl,dt,dd,legend,fieldset,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
a{
	text-decoration: none;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
}
body{
	font-family: "微软雅黑",arial;
}
input{
	outline: none;
}

.noShow{
	display: none;
}

.btn{
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background-color: #f56c2d;
	border-radius: 5px;
	transition: all .5s;
	border: 1px solid #f56c2d;
	cursor: pointer;
}
.btn:hover{
	background-color: #c85e36;
}

.btn-disabled{
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background-color: #fabda0;
	border-radius: 5px;
	transition: all .5s;
	border: 1px solid #fabda0;
	cursor: default;
}

.sel{
	padding: 10px;
	height: 45px;
	width: 100%;
	font-size: 16px;
	border: 1px solid #a6a6a6;
	cursor: pointer;
	border-radius: 4px;
	outline: none;
	transition: all .5s;
	text-indent: 2em;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.sel:hover{
	border: 1px solid #f56c2d;
}

.inp{
	width: 100%;
}
.inp>p{
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 12px;
}
.inp>span{
	display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: relative;
}
.inp>span:nth-child(2) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.inp>span:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 24px;
}

.inp input {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    padding: 0 10px 0 40px;
    border: 1px solid #c3c6ce;
    position: relative;
    top: -1px;
    font-size: 16px;
    box-sizing: border-box;
}

.inp input:focus {
    border: 1px solid #f56c2d;
}

.inp>span:nth-child(2) input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.inp>span:last-child input {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inp i {
    position: absolute;
    font-size: 22px;
    z-index: 1;
    left: 10px;
    color: #c3c6ce;
}