body {
  position: relative; }

.reg-header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding-left: 40px;
  border-bottom: 1px solid #c3c6ce; }

.reg-header a {
  box-sizing: border-box;
  float: left;
  margin-right: 36px;
  height: 58px;
  line-height: 58px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
  border-bottom: 2px solid transparent;
  font-weight: bold; }

.reg-header a:last-child {
  border-color: #f56c2d; }

.reg-content {
  padding: 36px 40px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  margin-top: 58px; }

.reg-content h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 24px; }

.reg-footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #edf1f2;
  position: fixed;
  bottom: 4px; }

.reg-footer img {
  height: 20px;
  margin: 10px 12px 10px 24px;
  vertical-align: middle; }

.reg-footer span {
  color: #787d85;
  font-size: 12px; }
